/*Siempre llamar a los partial que esten en utilities*/
/*2do se llama a todo lo que corresponde a base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  text-align: center;
  font-size: 50px; }

h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

/*3ro se llama a todo lo que corresponde a layout*/
header {
  background-color: #1bb5e9;
  padding: 1px;
  margin: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.banner {
  height: 580px;
  width: 100%;
  background-image: url("../../assets/img/bannerPrincipal1.png");
  background-image: url("../assets/img/bannerPrincipal1.png");
  background-repeat: no-repeat;
  background-size: cover; }

/*Botones*/
.botonesPrincipales {
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: #88847b;
  color: white;
  font-size: 10px;
  font-weight: bold;
  border-radius: 5px; }

.fuenteBoton {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif; }

/*ingreso*/
.cardInicioSesion {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  align-items: center; }

.inicioSesion {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 10px;
  background-color: white;
  max-width: 90%; }

.botonesregistro {
  list-style: none;
  max-width: 22%;
  display: flex;
  justify-content: center; }

.footerInicio {
  display: flex; }

.imgFooterInicio {
  display: flex; }

.imgFooterInicio img {
  height: 120px; }

.fuente {
  font-size: 1.5rem; }

.fuenteBoton {
  font-size: 0.8rem; }

/*registro*/
.formularioGeneral {
  margin: 1px;
  padding: 1px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  max-width: 20%;
  align-items: center; }

.formularioEtiquetas {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 10px;
  background-color: white; }

.botonIngresarSinRegistro {
  margin-left: 55px; }

.footerRegistro {
  display: flex; }

.imgFooterRegistro {
  display: flex; }

.imgFooterRegistro img {
  height: 120px; }

/*pagina principal*/
.botonHeaderPaginaPrincipal {
  display: flex;
  align-items: center; }

.imagenPaginaPrincipal {
  margin-top: 10px;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center; }

.listaCategorias {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: #1bb5e9;
  display: flex;
  justify-content: space-around;
  list-style: none; }

.esquemaProductos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1000px;
  flex-wrap: wrap;
  gap: 100px;
  margin: auto; }

.cardProductos {
  border: 2px solid black;
  border-radius: 5px;
  width: 200px;
  height: 250px;
  background-color: lightslategray;
  margin: 10PX;
  flex-wrap: nowrap; }
  .cardProductos div {
    width: 100%;
    height: 130px; }
    .cardProductos div img {
      width: 90%;
      height: 95%;
      object-fit: cover;
      margin: 10px; }
  .cardProductos h3 {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 15px; }
  .cardProductos p {
    text-align: center;
    margin-top: 15px; }
  .cardProductos button {
    margin-left: 80px;
    margin-top: 10px;
    cursor: pointer; }

.botonCarrito {
  position: fixed;
  bottom: 0;
  right: 0; }

.footerPrincipal {
  display: flex; }

.imgFooterPrincipal {
  display: flex; }

.imgFooterPrincipal img {
  height: 120px; }

/*tres puntitos*/
.listaNav {
  list-style: none; }

.infoEmpresa1 {
  margin-top: 80px;
  margin-left: 13px; }

.infoEmpresa {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: white;
  border-radius: 10px;
  max-width: 18%; }

/*Mi cuenta*/
.botonHeaderMiCuenta {
  display: flex;
  align-items: center; }

.imgLogin {
  margin: 1px;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  max-width: 20%; }

.imgLogin img {
  width: 100px;
  height: 100px;
  background-image: url("../../assets/img/loginReducida.jpg");
  background-image: url("../assets/img/loginReducida.jpg");
  background-size: cover;
  border-radius: 50%; }

.cardDatosMiCuenta {
  margin: 1px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  max-width: 20%;
  gap: 8px;
  justify-content: center;
  align-items: center; }

.datosMiCuenta {
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 8px;
  border-radius: 10px; }

.botonesMiCuenta {
  margin-top: -8px;
  list-style: none; }

.footerCuenta {
  display: flex; }

.imgFooterCuenta {
  display: flex; }

.imgFooterCuenta img {
  height: 120px; }

/*Mis Pedidos*/
.leyendaCantPedidos {
  width: 200px;
  height: 50px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 1px;
  margin: auto;
  margin-top: 35px;
  background-color: #9e8787;
  display: flex;
  justify-content: center;
  align-items: center; }

.esquemaPedidos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: auto;
  gap: 30px;
  margin: auto; }

.cardPedidos {
  border: 2px solid black;
  border-radius: 5px;
  width: 900px;
  height: 80px;
  background-color: lightslategray;
  margin: 10PX; }

.pedidoYfecha {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 5px 5px 0px 5px; }

.importeYestado {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 10px 5px 0px 5px; }

.footerPedidos {
  display: flex; }

.imgFooterPedidos {
  display: flex; }

.imgFooterPedidos img {
  height: 120px; }

/*Carrito*/
.botonHeaderCarrito {
  display: flex;
  align-items: center; }

.imgCarrito {
  margin: 1px;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  max-width: 20%; }

.CardItemsCarrito {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px; }

.itemsCarrito {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 1px;
  margin-left: 20px;
  padding: 1px;
  border: 2px solid black;
  border-radius: 5px;
  width: 900px;
  height: 40px;
  display: grid;
  grid-template-columns: .5fr 3fr .5fr .5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "cant producto unitario total"; }

.cant {
  grid-area: cant;
  margin-left: 5px;
  align-self: center; }

.producto {
  grid-area: producto;
  align-self: center; }

.unitario {
  grid-area: unitario;
  align-self: center; }

.total {
  grid-area: total;
  align-self: center; }

.todosProductos {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center; }

.cardProdCarrito {
  margin-left: 20px;
  margin-bottom: 5px;
  padding: 1px;
  border: 2px solid black;
  border-radius: 5px;
  width: 900px;
  height: 80px;
  display: grid;
  grid-template-columns: .25fr .25fr 3fr .5fr .5fr;
  grid-template-rows: repeat(2 1fr);
  grid-template-areas: "botonesSumaResta cantidadProducto descripcionProducto precioUnitario precioTotal" "botonesSumaResta cantidadProducto descripcionProducto precioUnitario precioTotal"; }

.cantidadProducto {
  grid-area: cantidadProducto;
  align-self: center; }

.descripcionProducto {
  grid-area: descripcionProducto;
  align-self: center; }

.precioUnitario {
  grid-area: precioUnitario;
  align-self: center; }

.botonesSumaResta {
  max-width: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1px;
  grid-area: botonesSumaResta; }

.precioTotal {
  grid-area: precioTotal;
  align-self: center; }

.cardTotalPedido {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px; }

.totalPedido {
  margin-top: 10px;
  margin-left: 20px;
  padding: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border: 2px solid black;
  border-radius: 5px;
  width: 900px;
  height: 80px; }

.footerCarrito {
  display: flex; }

.imgFooterCarrito {
  display: flex; }
  .imgFooterCarrito img {
    height: 120px; }

footer {
  background-color: #1bb5e9;
  padding: 1px;
  margin: 1px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around; }

/*Por ultimo siempre al final se llama a los mediaQ*/
@media (max-width: 780px) {
  /*Inicio de sesion*/
  header {
    height: 120px; }
    header h1 {
      font-size: 80px;
      font-weight: bold;
      margin-top: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
      margin-right: 10px;
      color: white; }
  .banner {
    height: 500px; }
  .cardInicioSesion {
    max-width: 30%; }
  .inicioSesion {
    max-width: 90%; }
  .botonesregistro {
    display: flex;
    flex-direction: column;
    max-width: 20%;
    align-items: center; }
  .imgFooterInicio {
    display: flex;
    align-items: center; }
  .imgFooterInicio img {
    height: 70px; }
  .fuente {
    font-size: 1.5rem; }
  /*Registro*/
  .formularioGeneral {
    margin-left: 22px;
    max-width: 28%; }
  .formularioEtiquetas {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-radius: 10px;
    background-color: white;
    max-width: 80%; }
  .imgFooterRegistro {
    display: flex;
    align-items: center; }
  .imgFooterRegistro img {
    height: 70px; }
  .botonIngresarSinRegistro {
    margin-left: 55px; }
  .fuenteBoton {
    font-size: 0.625rem; }
  footer p {
    display: flex;
    align-items: center; }
  /*Pagina principal*/
  header div img {
    margin-top: 25px; }
  .esquemaProductos {
    width: 760px; }
  .imgFooterPrincipal img {
    height: 70px; }
  .imgFooterPrincipal {
    display: flex;
    align-items: center; }
  /*Mi cuenta*/
  .imgLogin img {
    margin-left: 60px;
    width: 70px;
    height: 70px;
    background-image: url("../assets/img/user.png");
    background-size: cover;
    border-radius: 50%; }
  .cardDatosMiCuenta {
    max-width: 30%;
    gap: 6px; }
  .datosMiCuenta {
    font-size: 0.625rem; }
  .footerCuenta {
    display: flex; }
  .imgFooterCuenta {
    display: flex;
    align-items: center; }
  .imgFooterCuenta img {
    height: 70px; }
  /*Tres puntitos*/
  .infoEmpresa1 {
    margin-top: 1px;
    margin-left: 3px; }
  .infoEmpresa {
    margin: 1px;
    max-width: 22%; }
  /*Carrito*/
  .itemsCarrito {
    gap: 150px;
    width: 700px;
    height: 70px;
    margin-left: 10px; }
  .cardProdCarrito {
    margin-left: 10px;
    gap: 5px;
    border: 2px solid black;
    width: 700px;
    height: 80px; }
  .cantidadProducto {
    margin-right: 90px; }
  .descripcionProducto {
    margin-right: 200px; }
  .precioUnitario {
    margin-right: 100px; }
  .totalPedido {
    margin: 10px;
    margin-left: 10px;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border: 2px solid black;
    width: 700px;
    height: 80px; }
  .footerCarrito {
    display: flex;
    align-items: center; }
  .imgFooterCarrito {
    display: flex;
    align-items: center; }
  .imgFooterCarrito img {
    height: 70px; }
  /*Mis pedidos*/
  .botonPedidos {
    margin-top: 40px; }
  .cardPedidos {
    width: 700px;
    align-self: center; }
  .footerPedidos {
    display: flex;
    align-items: center; }
  .imgFooterPedidos {
    display: flex; }
  .imgFooterPedidos img {
    height: 70px; }
  footer {
    height: 120px; } }

@media (max-width: 600px) {
  header {
    height: 70px; }
    header h1 {
      font-size: 40px; }
  /*Inicio de sesion*/
  .banner {
    background-image: url("../assets/img/bannerInicio320.png");
    height: 500px;
    width: 100%; }
  .cardInicioSesion {
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    align-items: center;
    margin-left: 50px; }
  .inicioSesion {
    display: flex;
    justify-content: center;
    gap: 1px;
    margin-left: 5px;
    border-radius: 10px;
    width: 70%; }
  .botonesregistro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    align-items: center;
    margin: 10; }
  .fuente {
    font-size: 0.8rem; }
  .botonesPrincipales {
    font-size: 0.625rem; }
  .fuenteBoton {
    font-size: 0.625rem; }
  /*Registro*/
  .formularioGeneral {
    margin: 0px;
    padding: 1px;
    gap: 1px;
    border-radius: 10px;
    max-width: 120%; }
  .formularioEtiquetas {
    margin-left: 10px;
    padding: 1px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 2px;
    border-radius: 10px;
    background-color: #e6e5e5; }
  .formularioEtiquetas input {
    max-width: 142px; }
  .botonIngresarSinRegistro {
    margin-left: 150px; }
  /*Pagina principal*/
  header div img {
    margin-top: 2px; }
  .listaCategorias {
    flex-wrap: wrap; }
  .esquemaProductos {
    width: 400px;
    gap: 30px; }
  .cardProductos {
    border: 2px solid black;
    border-radius: 5px;
    width: 380px;
    height: 150px;
    background-color: lightslategray;
    margin: 10PX;
    display: flex;
    flex-wrap: wrap; }
  .cardProductos div img {
    width: 30%;
    height: 95%;
    object-fit: cover;
    margin: 10px; }
  .cardProductos div {
    width: 100%;
    height: 130px; }
  .cardProductos h3 {
    position: absolute;
    text-align: center;
    margin-left: 140px;
    margin-bottom: 5px;
    margin-top: 15px; }
  .cardProductos p {
    position: absolute;
    text-align: center;
    margin-top: 50px;
    margin-left: 140px; }
  .cardProductos button {
    position: absolute;
    cursor: pointer;
    margin-left: 250px;
    margin-top: 100px; }
  /*Mi cuenta*/
  .datosArticle {
    display: flex; }
  .imgLogin {
    margin-left: -20px; }
  .cardDatosMiCuenta {
    margin-left: 15px;
    padding: 1px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1px;
    border-radius: 10px; }
  .botonesMiCuenta {
    margin-top: -140px;
    margin-left: 300px; }
  .fuente {
    font-size: 12px;
    margin-left: 5px; }
  .imgFooterCuenta img {
    height: 70px; }
  /*Tres puntitos*/
  .banner h1 {
    font-size: 20px;
    margin-left: 150px; }
  .listaNav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center; }
  .infoEmpresa {
    margin-top: 5px;
    max-width: 80%;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 40px; }
  /*Carrito*/
  header div img {
    width: 70px; }
  .itemsCarrito {
    gap: 5px;
    margin-left: 5px;
    width: 400px;
    height: 60px; }
  .cardProdCarrito {
    margin-left: 5px;
    gap: 3px;
    width: 400px;
    height: 80px; }
  .cantidadProducto {
    margin-right: 5px; }
  .descripcionProducto {
    margin-right: 120px; }
  .precioUnitario {
    margin-right: 10px; }
  .totalPedido {
    margin: 10px;
    margin-left: 05px;
    padding: 1px;
    gap: 40px;
    border: 2px solid black;
    width: 400px;
    height: 80px; }
  .footerCarrito {
    display: flex; }
  .imgFooterCarrito {
    display: flex; }
  .imgFooterCarrito img {
    height: 70px; }
  /*Mis pedidos*/
  .tituloMisPedidos {
    font-size: 30px;
    margin-top: 20px; }
  .botonPedidos {
    margin-top: 25px; }
  .cardPedidos {
    width: 400px;
    align-self: center; }
  .esquemaPedidos {
    gap: 5px; }
  .pedidoYfecha {
    font-size: 12px; }
  .importeYestado {
    font-size: 12px; }
  .footerPedidos {
    display: flex; }
  .imgFooterPedidos {
    display: flex; }
  .imgFooterPedidos img {
    height: 70px; } }

@media (max-width: 385px) {
  /*registro*/
  .formularioEtiquetas input {
    max-width: 120px; }
  .botonIngresarSinRegistro {
    margin-left: 120px; }
  /*Pagina principal*/
  .imagenPaginaPrincipal {
    margin-top: 10px;
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: center; }
  .listaCategorias {
    flex-wrap: wrap; }
  .esquemaProductos {
    width: 300px;
    gap: 5px; }
  .cardProductos {
    border: 2px solid black;
    border-radius: 5px;
    width: 280px;
    height: 130px;
    background-color: lightslategray;
    margin: 10PX;
    display: flex;
    flex-wrap: wrap; }
  .cardProductos div img {
    width: 30%;
    height: 95%;
    object-fit: cover;
    margin: 10px; }
  .cardProductos div {
    width: 100%;
    height: 100px; }
  .cardProductos h3 {
    position: absolute;
    text-align: center;
    margin-left: 100px;
    margin-bottom: 5px;
    margin-top: 15px; }
  .cardProductos p {
    position: absolute;
    text-align: center;
    margin-top: 50px;
    margin-left: 100px; }
  .cardProductos button {
    position: absolute;
    cursor: pointer;
    margin-left: 160px;
    margin-top: 100px; }
  .imgFooterPrincipal img {
    height: 50px; }
  .fuente {
    font-size: 0.625rem; }
  /*Mi cuenta*/
  .tituloMiCuenta {
    font-size: 1.5rem;
    margin-top: 15px; }
  .cardDatosMiCuenta {
    margin-left: 25px; }
  .botonesMiCuenta {
    margin-top: -150px;
    margin-left: 290px; }
  /*Mis pedidos*/
  .tituloMisPedidos {
    font-size: 1.5rem; }
  .cardPedidos {
    width: 360px; }
  /*Carrito*/
  .itemsCarrito {
    width: 360px; }
  .itemCarritoProducto {
    margin-right: 100px;
    padding: 1px; }
  .cardProdCarrito {
    width: 360px; }
  .cantidadProducto {
    margin-right: 5px; }
  .descripcionProducto {
    margin-right: 80px; }
  .precioUnitario {
    margin-right: 10px; }
  .totalPedido {
    width: 360px;
    height: 80px;
    gap: 10px; }
  .footerCarrito {
    display: flex; }
  .imgFooterCarrito {
    display: flex; }
  .imgFooterCarrito img {
    height: 60px; } }

@media (max-width: 330px) {
  /*Registro*/
  .formularioEtiquetas input {
    max-width: 90px; }
  .imgFooterInicio img {
    height: 70px; }
  .formularioEtiquetas input {
    max-width: 100px; }
  .botonIngresarSinRegistro {
    margin-left: 100px; }
  /*Mi cuenta*/
  .fuente {
    font-size: 0.625rem; }
  .tituloMiCuenta {
    font-size: 20px;
    margin-top: 15px; }
  .botonMiCuenta {
    font-size: 8px; }
  .fuenteBoton {
    font-size: 0.625rem; }
  .imgLogin img {
    margin-left: 20px;
    width: 40px;
    height: 40px; }
  .cardDatosMiCuenta {
    margin-left: 1px;
    max-width: 50%; }
  .botonesMiCuenta {
    margin-top: -150px;
    margin-left: 215px; }
  /*Mis pedidos*/
  .tituloMisPedidos {
    font-size: 0.8rem; }
  .cardPedidos {
    width: 300px; }
  .footerPedidos {
    display: flex; }
  .imgFooterPedidos {
    display: flex; }
  .imgFooterPedidos img {
    height: 60px; }
  .pedidoYfecha {
    font-size: 12px; }
  /*Carrito*/
  .itemsCarrito {
    gap: 5px;
    width: 300px;
    height: 80px;
    margin-left: 5px;
    width: 300px;
    height: 60px; }
  .itemCarritoProducto {
    margin-right: 100px;
    padding: 1px; }
  .cardProdCarrito {
    margin-left: 5px;
    gap: 3px;
    width: 300px;
    height: 80px; }
  .cantidadProducto {
    margin-right: 5px; }
  .descripcionProducto {
    margin-right: 80px; }
  .precioUnitario {
    margin-right: 5px;
    font-size: 0.8rem;
    margin-left: -30px; }
  .totalPedido {
    width: 300px;
    height: 80px;
    gap: 10px; }
  .footerCarrito {
    display: flex; }
  .imgFooterCarrito {
    display: flex; }
  .imgFooterCarrito img {
    height: 60px; }
  .precioTotal {
    font-size: 0.8rem; }
  h3 {
    font-size: 0.8rem; } }
