footer{
    height: auto;
    background-color:$color;
    padding: 1px;
    margin: 1px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    img{
        height: 120px; 
    }
}

.footerh2{
    font-size: 25px;
}
.footerp{
    font-size: 16px;
}

.footersection1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footersection2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    gap: 20px;
    width: 70%;
}