header{
    height: 70px;
    background-color:$color;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
.navbar{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    h1{
        margin-left: 15rem;
        margin-right: 15rem;
    }
    div{
        img{
            margin-left: 20rem;
            margin-right: 20rem;
        }
    }
}

.menu_hamburguesa:checked + .ulLinks{
    height: 260%;
    transition: all .8s;
}

.menu_hamburguesa{
    display: none;

}


.ListIcon{
    cursor: pointer;

}

.ulLinks{
    width: 20%;
    position: absolute;
    background-color: $color;
    top: 66px;
    left: -40px;
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
}
