/*registro*/
.formularioGeneral{
    margin: 1px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    max-width: 20%;
    align-items: center;
}
.formularioEtiquetas{
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 10px;
    background-color: white;
}
.fuenteform{
    font-size: 12px;
}
.botonIngresarSinRegistro{
    margin-left: 55px;
}
.footerRegistro{
    display: flex;
}
.imgFooterRegistro{
    @extend .footerRegistro;
    img{
        height: 120px;
    }
    
}
