/*ingreso*/
.cardInicioSesion{
    display: flex;
    flex-direction: column;
    max-width: 25%;
    align-items: center;
}
.inicioSesion{
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 10px;
    background-color: white;
    max-width: 90%;
}
.botonesregistro{
    list-style: none;
    max-width: 22%;
    display: flex;
    justify-content: center;
}

.fuente{
    font-size: map-get($fuentes-sitio , md );
}
.fuenteBoton{
    font-size: map-get($fuentes-sitio , sm );
}