/*Mi cuenta*/
.botonHeaderMiCuenta{
    display: flex;
    align-items: center;
}
.imgLogin{
    margin: 1px;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    max-width: 20%;
}
.imgLogin{
    img{
        width: 100px;
        height: 100px;
        background-image: url("../../assets/img/loginReducida.jpg");
        background-image: url("../assets/img/loginReducida.jpg");
        background-size: cover;
        border-radius: 50%;
    }

}
.cardDatosMiCuenta{
    margin: 1px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    max-width: 20%;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.datosMiCuenta{
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 8px;
    border-radius: 10px;
}
.botonesMiCuenta{
    margin-top: -8px;
    list-style: none;
}

