@media(max-width:330px){
    /*Header*/
    .header{
        h1{
            font-size: 18px;
        }
    }
    .navbar{
        h1{
            margin-left: 1.3rem;
            margin-right: 1.3rem;
        }
        div{
            img{
                margin-left: 2.19rem;
                margin-right: 2.19rem;
            }
        }
    }
    .menu_hamburguesa:checked + .ulLinks{
        height: 260%;
    }
    .ulLinks{
        width: 30%;
        top: 66px;
        left: -2px;
    }
    
    /*Registro*/
    .formularioEtiquetas{
        input{
            max-width: 90px;
        }
    }

    .botonIngresarSinRegistro{
        margin-left: 100px;
    }
    /*Mi cuenta*/
    .fuente{
        font-size: map-get($fuentes-sitio, xs );
    }
    .tituloMiCuenta{
        font-size: 20px;
        margin-top: 15px;
    }
    .botonMiCuenta{
        font-size: 8px;
    }
    .fuenteBoton{
        font-size: map-get($fuentes-sitio, xs );
    }
    .imgLogin{
        img{
            margin-left: 20px;
            width: 40px;
            height: 40px;
        }
    }
    .cardDatosMiCuenta{
        margin-left: 1px;
        max-width: 50%;
    }
    .botonesMiCuenta{
        margin-top: -150px;
        margin-left: 215px;
    }
    /*Mis pedidos*/
    .tituloMisPedidos{
        font-size: map-get($fuentes-sitio, sm );
    }
    .cardPedidos{
        width: 300px;
    }
    .pedidoYfecha{
        font-size: 12px;
    } 
    /*Carrito*/
    .itemsCarrito{
        gap: 5px;
        width: 300px;
        height: 80px;
        margin-left: 5px;
        width: 300px;
        height: 60px;
    }
    .itemCarritoProducto{
        margin-right: 100px;
        padding: 1px;
    }
    .cardProdCarrito{
        margin-left: 5px;
        gap: 3px;
        width: 300px;
        height: 80px;
    }
    .cantidadProducto{
        margin-right: 5px;
    }
    .descripcionProducto{
        margin-right: 80px;
    }
    .precioUnitario{
        margin-right: 5px;
        font-size: map-get($fuentes-sitio, sm );
        margin-left: -30px;
    }
    .totalPedido{
        width: 300px;
        height: 80px;
        gap: 10px;
    }
    .precioTotal{
        font-size: map-get($fuentes-sitio , sm );
    }
    h3{
        font-size: map-get($fuentes-sitio , sm );
    }
}