@media(max-width:385px){
    /*Header*/
    .header{
        h1{
            font-size: 20px;
        }
    }
    .navbar{
        h1{
            margin-left: 2.1rem;
            margin-right: 2.1rem;
        }
        div{
            img{
                margin-left: 3rem;
                margin-right: 3rem;
            }
        }
    }
    .menu_hamburguesa:checked + .ulLinks{
        height: 260%;
    }
    .ulLinks{
        width: 30%;
        top: 66px;
        left: -9px;
    }
    /*registro*/
    .formularioEtiquetas{
        input{
            max-width: 120px;
        }
    }
    .botonIngresarSinRegistro{
        margin-left: 120px;
    }
    /*Pagina principal*/
    .imagenPaginaPrincipal{
        margin-top: 10px;
        width: 100%;
        height: 190px;
        display: flex;
        justify-content: center;
    }
    .listaCategorias{
        flex-wrap: wrap;
    }
    .esquemaProductos{
        width: 300px;
        gap: 5px;
    }
    .cardProductos{
        border: 2px solid black;
        border-radius: 5px;
        width: 280px;
        height: 130px;
        background-color: lightslategray;
        margin: 10PX;
        display: flex;
        flex-wrap: wrap;
        div{
            width: 100%;
            height: 100px;
            img{
                width: 30%;
                height: 95%;
                object-fit: cover;
                margin: 10px;
            }
        }
        
        h3{
            position: absolute;
            text-align: center;
            margin-left: 100px;
            margin-bottom: 5px;
            margin-top: 15px;
        }

        p{
            position: absolute;
            text-align: center;
            margin-top: 50px;
            margin-left: 100px;
        }

        button{
            width: 40px;
            height: 40px;
            position: absolute;
            cursor: pointer;
            margin-left: 200px;
            margin-top: 70px;
            img{
                margin-top: -7px;
                margin-left: -7px ;
                width: 30px;
                height: 30px;
                object-fit: contain;
            }
        }
    }

    .fuente{
        font-size: map-get($fuentes-sitio, xs );
    }    
    /*Mi cuenta*/
    .tituloMiCuenta{
        font-size: map-get($fuentes-sitio, md );
        margin-top: 15px;
    }
    .cardDatosMiCuenta{
        margin-left: 25px;
    }
    .botonesMiCuenta{
        margin-top: -150px;
        margin-left: 290px;
    }
    /*Mis pedidos*/
    .tituloMisPedidos{
        font-size: map-get($fuentes-sitio, md );
    }
    .cardPedidos{
        width: 360px;
    } 
    /*Carrito*/
        .itemsCarrito{
        width: 360px;
    }
    .itemCarritoProducto{
        margin-right: 100px;
        padding: 1px;
    }
    .cardProdCarrito{
        width: 360px;
    }
    .cantidadProducto{
        margin-right: 5px;
    }
    .descripcionProducto{
        margin-right: 80px;
    }
    .precioUnitario{
        margin-right: 10px;
    }
    .totalPedido{
        width: 360px;
        height: 80px;
        gap: 10px;
    }
    footer{
        img{
            height: 70px;
            
        }
    }
}